@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.phone {
  display: flex;
  justify-content: center;
  position: relative;
  outline: 0.125rem solid black;
  outline-offset: -0.01rem;
  border-radius: 0.6rem;
  overflow: hidden;
  z-index: 1;
}

.phone::after {
  content: '';
  position: absolute;
  background-color: black;
  width: 40%;
  height: 4%;
  top: 0;
  z-index: 50;
  border-radius: 0 0 0.4rem 0.4rem;
}

.desktop {
  display: flex;
  justify-content: center;
  position: relative;
  outline: 0.125rem solid rgb(0, 0, 0);
  outline-offset: -0.01rem;
  border-top: 1rem solid rgb(0, 0, 0);
  border-radius: 0.4rem;
}

.desktop-dots {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  top: -0.75rem;
  left: 0.5rem;
  z-index: 1000;
}

.desktop-dots > div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
}

.fold::after {
  content: '';
  position: absolute;
  top: -320%;
  right: -320%;
  rotate: 45deg;
  width: 10rem;
  height: 10rem;
  z-index: -1;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
